.gridImage {
	float: left;
	padding-right: 10px;
}

.grid tr, .grid td {
     border-style: hidden !important;
}

.grid {
	width:100%;
}

.grid input {
	width:100%;
}

.grid textarea {
	width:100%;
}

/* first column will be small */
.grid td:first-child {
	width:1px;
}

/* hide data table header */
#dataTable thead {
display: none;
}

.ui-datatable-odd {
	background-color: #f0f0f0;
}
